/* @arquivo pagExamesOrientacoes.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

/* Coluna onde iremos apresentar os exames */
#conteudoExames {
  margin-right: 0px; 
  margin-left: 0px;"
} 

#conteudoExames > .col-md-6 {
  background-color: #fff; /* branco */
  border: 0px solid;
} 

/* Filtro dos exames e orientações */
#conteudoExames > #filtroExames {
  background-color: #fff;  /* branco */
  border: 0px solid; 
  padding-right: 0px;
}

/* Cor de fundo para o conteúdo */
#conteudoExames > .col-md-12 {
  background-color: #fff; /* branco*/
}

/* largura da coluna de orientações */
.table > thead .tabColOr {
  width: 230px;
}