/* @arquivo pagInfoConvenio.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

/* A coluna principal */
div#informacao-convenio {
  margin-right: 0px; 
  margin-left: 0px;
}

/* O conteudo de informações do convenio sera adicionado neste elemento */
div#informacao-convenio-conteudo {
  background-color: #fff;
}
