/* @arquivo pagTabConvenios.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

/* Texto de apresentação */
#conteudoFiltro .col-md-6 {
  padding-left: 10px; 
  background-color: #fff; /* Branco */
  border:0px; 
  padding-top: 0px; 
  padding-bottom: 0px;
} 

/* filtro dos convênios */
#conteudoFiltro .col-lg-6 {
  background-color: #fff; /* branco */
  border:0px; 
  padding-top: 0px; 
  padding-bottom: 0px;
}

#conteudoGradeConvenios {
  border: solid 0px;
}

#conteudoGradeConvenios > .col-sm-6,
#conteudoGradeConvenios > .col-md-3 {
  background-color: #fff; 
  border-color: #fff; 
  height: 322px; 
  width:290px;
}

/* Imagem do convênio */
#conteudoGradeConvenios img {
  display: block; 
  height:97px; 
  width:114px;
}

/* Altura mínima do subtítulo */
#conteudoGradeConvenios .caption {
  min-height: 186px;
}

/* Botão de carregar mais convênios */
#conteudoGradeConvenios > .col-md-12{
  background-color: #fff; 
  border: solid 0px; 
  text-align: center;
}

/* Contêm botão de carregar mais convenios */
#conteudoCarregarConvenio {
 background-color: #fff; 
 border: solid 0px; 
 text-align: center;"
}