/* @arquivo pagTabelaUnidades.css */


/* Nossa linha */
#conteudoUnidades .row {
  margin-right: 0px; 
  margin-left: 0px;
}

/* Nossa coluna de endereço */
.tab-content .col-md-3 {
  background-color: #fff; /* Cor branca */
  border-top: 0px;
}

/* Nossa coluna de mapa */
.tab-content .col-md-9 {
  background-color: #fff; /* Cor branca */
  border-top: 0px;
}

/* Forçamos uma altura para está div */
.tab-content .embed-responsive {
  height: 310px !important;
}

/* forçamos a altura do item que armazena o mapa */
.tab-content .embed-responsive-item {
  height: 300px;
}

