/* @arquivo pagNossaEquipe.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

#conteudoNossaEquipe {
  border: solid 0px;
} 

/* Este retângulo armazena a foto, nome e ocupação do membro da equipe */
#conteudoNossaEquipe .col-sm-6 {
  background-color: #fff; /* Branco */
  border-color: #fff;  /* Branco */
  min-height: 332px; /* largura mínima da altura */
  height: 330px; /* lagura da altura */
  width:290px; /* comprimento */
}

/* Altura do subtitulo */
#conteudoNossaEquipe .col-sm-6 .caption {
  min-height: 156px;
}