/* ESTILOS DO NOSSO CARROSSEL
-------------------------------------------------- */


/* PERSONALIZE A BARRA DE NAVEGAÇÃO
-------------------------------------------------- */

/* Classe especional no .container em torno do .navbar, usado para posicionar isso no lugar correto  */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Virar em torno do preenchimento para a exibição correta em viewports estreitas */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* PERSONALIZE O CARROSSEL
-------------------------------------------------- */

/* Classe base do carrossel */
.carousel {
  height: 500px;
  margin-bottom: 20px;
}

/* Quando posicionado a imagem precisamos organizar o subtítulo */
.carousel-caption {
  z-index: 10;
}

/* Afirmamos a altura por causa do posicionamento do elemento img */
.carousel .item {
  height: 500px;
  background-color: #777; /* Cinza bastante escuro */
}

.carousel-inner .item {
  background-color: #fff;
}

/* Estilo para as imagens */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* CONTEÚDO DE MARKETING
-------------------------------------------------- */

/* Alinha o texto no centro den*/
/* Center align the text no interior de três colunas abaixo do carrossel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Espaço para fora do item hr mais do BootStrap */
}

/* Diluir as posições de marketing */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* CSS RESPONSIVO
-------------------------------------------------- */

@media (min-width: 768px) {
  /* posição da barra de navegação */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* A barra de navegação torna-se destacado a partir do topo, por isso, arredondando os cantos */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Aumenta o tamanho do conteúdo do carrossel */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}