/* @arquivo pagTabConvenios.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

/* Coluna onde iremos apresentar os exames */
#conteudo-convenios {
  margin-right: 0px; 
  margin-left: 0px;"
} 

#conteudo-convenios > .col-md-6 {
  background-color: #fff; /* branco */
  border: 0px solid;
} 

/* Filtro dos exames e orientações */
#conteudo-convenios > #linha-inicio-pagina-convenios {
  background-color: #fff;  /* branco */
  border: 0px solid; 
  padding-right: 0px;
}

/* Cor de fundo para o conteúdo */
#conteudo-convenios > .col-md-12 {
  background-color: #fff; /* branco*/
}

/* Texto de apresentação */
#linha-inicio-pagina-convenios .col-md-6 {
  padding-left: 10px; 
  background-color: #fff; /* Branco */
  border:0px; 
  padding-top: 0px; 
  padding-bottom: 0px;
} 

/* filtro dos convênios */
#linha-inicio-pagina-convenios .col-lg-6 {
  background-color: #fff; /* branco */
  border:0px; 
  padding-top: 0px; 
  padding-bottom: 0px;
}

/* Adicionamos um espaço para cada grupo de botões da paginação */
div#convenio-paginacao .backgrid-paginator .btn-group {
  padding-left: 5px;
}

/* A largura da coluna id da tabela de convênios */
div#tabela-convenios table.backgrid th.id {
  width: 60px;
}

/* A largura da coluna nome_elemento da tabela de convênios */
div#tabela-convenios table.backgrid th.nome_elemento {
  width: 220px;
}