/* @arquivo pagExamesOrientacoes.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

/* Coluna onde iremos apresentar os exames */
#conteudo-exames {
  margin-right: 0px; 
  margin-left: 0px;"
} 

#conteudo-exames > .col-md-6 {
  background-color: #fff; /* branco */
  border: 0px solid;
} 

/* Filtro dos exames e orientações */
#conteudo-exames > #filtro-exames {
  background-color: #fff;  /* branco */
  border: 0px solid; 
  padding-right: 0px;
}

/* Cor de fundo para o conteúdo */
#conteudo-exames > .col-md-12 {
  background-color: #fff; /* branco*/
}

/* largura da coluna de orientações */
.table > thead .tabColOr {
  width: 230px;
}

/* Adicionamos um espaço para cada grupo de botões de paginação */
div#exame-orientacao-paginacao .backgrid-paginator .btn-group {
  padding-left: 5px;
}

/* A largura da coluna id da tabela de exames e orientações */
div#tabela-exames-orientacoes table.backgrid th.id {
  width: 60px;
}

/* A largura da coluna nome_elemento da tabela de exames e orientações */
div#tabela-exames-orientacoes table.backgrid th.nome_elemento {
  width: 180px;
}