/* @arquivo pagInicial.css */

@import url('../carrossel.css');

/* ESTILOS DA PAGINA DE INICIO
------------------------------------------------------------*/

/* Mensagem principal de marketing e o botão de acesso */
.jumbotron {
  text-align: center;
  background-color: transparent;
}

/* Botão do marketing */
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}