/* @arquivo pagQuemSomos.css */

/* ESTILOS PARA O CONTEÚDO
---------------------------------------------------------------------------*/

/* Precisamos de menos margem no titulo inicial */
#texto-quem-somos #sobre-a-empresa .page-header{
  margin-top: 3px;
}

/* Estilo das linha */
#conteudo-quem-somos .row {
  min-height: 370px; 
  margin-right: 0px;
}

/* Menu vertical esquerdo */
#conteudo-quem-somos .row .col-md-3 {
  background-color: #fff;  /* Cor de fundo branco */
  border: 0px;
}

/* O conteúdo que amazenam o texto */
#conteudo-quem-somos .row .col-md-9 {
  padding-top: 15px; 
  padding-bottom: 15px;
  background-color: #fff; /* Branco */
  height: 400px; /* altura de do casulo de texto */
  overflow-y: scroll; /* Se o texto for maior que o height então apresentados um scroll vertical */
  position: relative;
}

/* Barra de navegação à esquerda.
 * Adiciona cor verde quando link estiver ativo, além disso a cor do texto é branca.
 */
.nav-pills li.active>a, 
nav-pills li.active a:focus, 
.nav-pills li.active>a:hover {
  color: #fff; /* Cor do texto branco */
  background-color: #5cb85c; /* Verde claro */
}
